<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Vogneborets</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>

<!-- Nav bar -->
<nav class="navbar navbar-expand-lg navbar-dark static-top bg-warning">
    <div class="container">
        <a class="navbar-brand" href="/"><h2 class="">Vogneborets</h2></a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse row justify-content-end" id="navbarCollapse" style="">
          
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link text-white" href="/team" style="font-size: 20px">Про нас</a>
            </li>
            <li class="nav-item mx-3">
              <a class="nav-link btn btn-info text-white" href="https://telegram.me/groupname" style="font-size: 20px">Telegram</a>
            </li>
            <li class="nav-item">
              <a class="nav-link btn btn-danger text-white" href="#" style="font-size: 20px">Пiдтримати проект</a>
            </li>
          </ul>
          
        </div>
    </div>
</nav>

<H1>PLS DONATE</H1>
<a href="/donate/2500">PAY 25 UAH</a>
<a href="/donate/5000">PAY 50 UAH</a>
<a href="/donate/10000">PAY 100 UAH</a>
<form method="POST">
  <input name="amount">
  <input type="submit">
</form>


</div>
</body>
</html>
