<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Vogneborets</title>

  <!-- Bootstrap core CSS -->
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
  {{twmap.js}}
  <!-- Custom fonts for this template -->
  <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href="/static/css/agency.css" rel="stylesheet">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon-16x16.png">


</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">


	      <!-- <a class="navbar-brand h4 js-scroll-trigger" href="#page-top">Vogneborets</a> -->
        <a class="navbar-brand js-scroll-trigger" href="#page-top"><img src="/static/img/lg2.png" id="logo-p"/></a>

	      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fas fa-bars"></i></button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#map">Мапа</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">Детальнiше</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#team">Команда</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header -->
  <header class="masthead">
    <div class="container">
      <div class="intro-text">
        <div class="intro-heading">Привіт!</br>Я - проект Vogneborets</div>
        <div class="intro-lead-in">Моя мета – зробити публічні простори та заклади максимально безпечними, а людей – максимально свідомими щодо пожежної безпеки місць, в яких вони перебувають.</div>
        <div class="intro-lead-in">На мапі ти можеш переглянути рейтинг пожежної безпеки за оцінками відвідувачів, а за цим посиланням – оцінити заклад самостійно. </div>
	        <div class="mt-5" id="main-buttons">
		        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#map">До мапи</a>
    			  <a class="btn btn-info btn-xl text-uppercase js-scroll-trigger" href="https://t.me/vognebot">Оцiнити</a>
    			</div>
	      </div>
	    </div>
  </header> 

<!-- Map -->
<section class="page-section" id="map">
   	   <div>{{twmap.html}}</div>
</section>


<!-- About -->
<section class="page-section mt-5" id="about">
    <div class="container">
      <hr>
      <div class="row">
	        <div class="col-lg-12 text-center mt-5">
	          <h2 class="section-heading text-uppercase mt-3">Чому це потрібно? </h2>
	          <p class="blockquote text-center mt-3">
              Кожного дня виникає 275 пожеж, матеріальні втрати від яких складають 30 млн 165 тис. грн.
  	          Внаслідок пожеж гине 5 і отримує травми 4 людини, 
  	      	  вогнем знищуються або пошкоджується 72 будівлі (споруди) та 13 одиниць техніки.
  	      	  <a href="https://undicz.dsns.gov.ua/ua/STATISTIKA-POZHEZH.html">Статистика ДСНС по Україні за 2019 рік</a>
            </p>
	        </div>
      </div>
      <div class="row mt-5">
	        <div class="col-lg-12">
	          <ul class="timeline">
		            <li>
		              <div class="timeline-image">
		                <img class="rounded-circle img-fluid" src="/static/img/about/1.jpg" alt="">
		              </div>
		              <div class="timeline-panel">
		                <div class="timeline-heading">
		                  <h4>Червень 2019</h4>
		                  <!-- <h4 class="subheading">Our Humble Beginnings</h4> -->
		                </div>
		                <div class="timeline-body">
		                  <p class="text-muted">8 людей під час пожежі в Одеській психологічній лікарні у червні;</p>
		                </div>
		              </div>
		            </li>
		            <li class="timeline-inverted">
		              <div class="timeline-image">
		                <img class="rounded-circle img-fluid" src="/static/img/about/2.jpg" alt="">
		              </div>
		              <div class="timeline-panel">
		                <div class="timeline-heading">
		                  <h4>Серпень 2019</h4>
		                </div>
		                <div class="timeline-body">
		                  <p class="text-muted">9 людей під час пожежі в готелі «Токіо Стар» у серпні;</p>
		                </div>
		              </div>
		            </li>
		            <li>
		              <div class="timeline-image">
		                <img class="rounded-circle img-fluid" src="/static/img/about/3.jpg" alt="">
		              </div>
		              <div class="timeline-panel">
		                <div class="timeline-heading">
		                  <h4>Грудень 2019</h4>
		                </div>
		                <div class="timeline-body">
		                  <p class="text-muted">16 людей під час пожежі у коледжі на Троїцькій у грудні.</p>
		                </div>
		              </div>
		            </li>
            </ul>
            <hr class="mt-5 mb-5">
            <p class="text-center mt-5">Можна шукати виних і вимагати їх звільнення, але ми продовжуємо щодня працювати та відпочивати у приміщеннях, де не дотримуються правила пожежної безпеки.</p>
            <p class="text-center"><b>А можна вже зараз обирати безпечні простори і заклади для себе та своєї сім'ї, допомагати робити ці заклада більш безпечними.</b></p>
            <hr class="mt-5 mb-5">
            <p class="text-justify">Ми розробили <a href = "https://t.me/vognebot">телеграм-бот "Vogneborets"</a>, за допомогою якого можна перевірити, наскільки є безпечною твоя улюблена кав'ярня чи кінотеатр, дитячий садочок чи школа, куди ходять діти, місце роботи чи відпочинку.</p>
            <p class="text-justify"><b>Наша мета – дати кожній людині можливість зрозуміти, наскільки безпечним є заклад або простір.</b></p>
            <p class="text-justify">Про заклади та простори, які будуть мати мінімальний рейтинг, ми будемо повідомляти органи влади. Однак ми би хотіли, аби оцінки стали орієнтирами менеджерам та власникам для покращення систем пожежної безпеки.</p>

	        </div>
      </div>
      <hr class="mt-5 mb-5">
      <div class="col-lg-12">
        <h2 class="section-heading text-uppercase text-center mt-5 mb-5">ЯК ЦЕ ПРАЦЮЄ?</h2>
        <p><b>1.</b> Бот діє у мобільному додатку <b>Telegram</b>. Скачай його, якщо ще не маєш.</p>
		<p><b>2.</b> Відкрий посилання <a href="https://t.me/vognebot">https://t.me/vognebot</a>.<p>
		<p><b>3.</b> Надішли геолокацію та обери місце, яке бажаєш перевірити.</p>
		<p><b>4.</b> Відповідай на 10-15 питань – це можливість зрозуміти, наскільки заклад безпечний.</p>
		<p><b>5.</b> Можна залишити коментар про пожежну безпеку закладу, але це не є обов’язковим.</p>
		<p><b>6.</b> Все! Твоя оцінка закладу буде нанесена на мапу протягом 10 хвилин.</p>
		<hr class="mt-5 mb-5">
        <p class="text-center"><b>Оцінка пожежної безпеки – це можливість зробити заклади безпечнішими, а не метод покарання чи нечесної конкуренції. Ми підтримаємо підприємців, у яких витримано правила пожежної безпеки та тих, хто покращили її.</b></p>
        <hr class="mt-5 mb-5">
        <p class="text-uppercase">Ми шукаємо партнерів й друзів по всій Україні! У перспективі ми б хотіли:<p>
        <ul>
    		<li>
            	<p>зібрати в одному місці корисну інформацію для підприємців та управлінців: що і як покращити у своєму закладі та де отримати професійні консультації, купити якісні засоби пожежної безпеки тощо;</p>
          	</li>
    		<li>
            	<p>зібрати в одному місці інформацію для відвідувачів закладів: що робити під час пожежі, де пройти курс пожежної підготовки, про першу домедичну допомогу тощо.</p>
          	</li>
        </ul>
        <hr class="mt-5 mb-5">
    </div>
</section>




<!-- Team -->
<section class="bg-light page-section" id="team">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center mt-5 mb-4">
          <h2 class="section-heading text-uppercase mt-5">Наша команда</h2>
        </div>
      </div>
      <!-- 1 -->
    <div class="row">
        <div class="col-sm-7">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="/static/img/team/Slavsk.jpg" alt="">
            <h4>Олександр Славський </h4>
            <p class="text-muted">Ініціатор та ідейний засновник проекту</p>           
          </div>
        </div>
        <div class="col-sm-3">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="/static/img/team/Marin.jpg" alt="">
            <h4>Марина Мрук</h4>
            <p class="text-muted">Менеджер проекту</p>
          </div>
        </div>
    </div>
      <!-- 2 -->
    <div class="row">
        <div class="col-sm-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="/static/img/team/Vlad.jpg" alt="">
            <h4>Владислав Піотровський</h4>
            <p class="text-muted">Technical lead</p>  
          </div>
        </div>
        <div class="col-sm-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="/static/img/team/Andrew.jpg" alt="">
            <h4>Андрій  Майдан</h4>
            <p class="text-muted">DevOps</p>  
          </div>
        </div>
        <div class="col-sm-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="/static/img/team/Alex.jpg" alt="">
            <h4>Олексій Марковський</h4>
            <p class="text-muted">Web developer</p>  
          </div>
        </div>
    </div>
      <!-- 3 -->
    <div class="row">
        <div class="col-sm-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="/static/img/team/Mich.jpg" alt="">
            <h4>Михайло Келембет</h4>
            <p class="text-muted">Консультант з пожежної безпеки</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="/static/img/team/Maks.jpg" alt="">
            <h4>Максим Зубенко</h4>
            <p class="text-muted">Консультант з маркетингу та дизайну</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="/static/img/team/Liza.jpg" alt="">
            <h4>Єлизавета Зубенко</h4>
            <p class="text-muted">Дизайнер</p>
          </div>
        </div>
    </div>

    </div>
    <hr>
</section>





  <!-- Footer -->
  <footer class="footer">
    <div class="container">
      <div class="align-items-center">
        <div class="">
          <ul class="list-inline social-buttons">
            <li class="list-inline-item">
              <a href="https://t.me/vognebot">
                <i class="fab fa-telegram"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="/">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
          </ul>
        </div>
       </div>
    </div>
  </footer>
 

  <!-- Bootstrap core JavaScript -->
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Contact form JavaScript -->
  <script src="/static/js/jqBootstrapValidation.js"></script>
  <script src="/static/js/contact_me.js"></script>

  <!-- Custom scripts for this template -->
  <script src="/static/js/agency.min.js"></script>

</body>

</html>
